.btntotop {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.btntotop a{
  background-color: #FFF;
  color: #A51C30;
  border-radius: 0px;
  border: 1px solid #A51C30;
  transition: .2s;
}
.btntotop a:hover {
  background-color: #A51C30;
  color: #FFF;
  border: 1px solid #A51C30;
  box-shadow: 0 0 10px #A51C30;
}
@media (max-width: 768px) {
  .btntotop {
    display: none;
  }
}

.newscontent {
  padding: 5%;
}

.newscontent h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.ainfo {
  font-size: 15px;
}

.Ncontent {
  margin-bottom: 50px;
}
.Ncontent img {
  display: block;
  margin: 10px auto 40px;
}
.Ncontent p {
  /*word-wrap: break-word; 
  word-break: normal; */
  padding: 1% 2%;
  font-weight: normal;
  font-size: 18px;
}

hr {
  border-top-color: #CCC;
}

.tindent {
  text-indent: 2em;
}

.pager li a {
  border: 1px solid #A51C30;
  color: #A51C30;
  border-radius: 0;
  transition: .2s;
}
.pager li a:hover {
  background: #A51C30;
  color: #FFF;
}